/* 移除章节锁定图标 */
.muyeicon-lock {
	display: none;
}
/* 移除APP推广图标 */
.muye-to-fanqie {
	display: none!important;
}
.reader-toolbar-item-download {
	display: none!important;
}
.download-btn {
	display: none!important;
}
.download-icon {
	display: none!important;
}

.fqa-hide {
	display: none!important;
}
/* 404 */
.no-content {
	display: none!important;
}

.fqa-comic-img {
	width: 100%!important;
	height: 100%!important;
	max-width: 100%!important;
	max-height: 100%!important;
	padding-top: 0!important;
	padding-bottom: 0!important;
	margin-top: 0!important;
	margin-bottom: 0!important;
}

.fqa-comic-reader {
	line-height: 0!important;
}

.fqa-menu-item,
.arco-menu-item {
	width: 100%!important;
}

#dynamic-el {
	display: none!important;
}